* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: cornflowerblue;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    color: aliceblue;
    font-weight: 600;
}

button:active{
    transform: scale(0.9);
}